@import url('https://fonts.googleapis.com/css2?family=oppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins' sans-serif;
  background-color: rgb(131, 28, 45);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: pink;
  border-radius: 5px;
  border: none;
  color: #000000;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}
